# Introduction
This assignment will test how well you're able to perform various data science-related tasks.

Each Problem Group below will center around a particular dataset that you have worked with before.

To ensure you receive full credit for a question, make sure you demonstrate the appropriate pandas, altair, or other commands as requested in the provided code blocks. 

You may find that some questions require multiple steps to fully answer. Others require some mental arithmetic in addition to pandas commands. Use your best judgment.

## Submission
Each problem group asks a series of questions. This assignment consists of two submissions:

1. After completing the questions below, open the Module 01 Assessment Quiz in Canvas and enter your answers to these questions there.

2. After completing and submitting the quiz, save this Colab notebook as a GitHub Gist (You'll need to create a GitHub account for this), by selecting `Save a copy as a GitHub Gist` from the `File` menu above.

    In Canvas, open the Module 01 Assessment GitHub Gist assignment and paste the GitHub Gist URL for this notebook. Then submit that assignment.

## Problem Group 1

For the questions in this group, you'll work with the Netflix Movies Dataset found at this url: [https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/netflix_titles.csv](https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/netflix_titles.csv)

### Question 1
Load the dataset into a Pandas data frame and determine what data type is used to store the `release_year` feature.

In [25]:
import pandas as pd
import numpy as np
url = "https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/netflix_titles.csv"
df = pd.read_csv(url)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6234 non-null   int64
 1   type          6234 non-null   object
 2   title         6234 non-null   object
 3   director      4265 non-null   object
 4   cast          5664 non-null   object
 5   country       5758 non-null   object
 6   date_added    6223 non-null   object
 7   release_year  6234 non-null   int64
 8   rating        6224 non-null   object
 9   duration      6234 non-null   object
 10  listed_in     6234 non-null   object
 11  description   6234 non-null   object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB

    show_id  ...                                        description
0  81145628  ...  Before planning an awesome wedding for his gra...
1  80117401  ...  Jandino Asporaat riffs on the challenges of ra...
2  70234439  ...  With the help of three human allies, the Autob...
3  80058654  ...  When a prison ship crash unleashes hundreds of...
4  80125979  ...  When nerdy high schooler Dani finally attracts...

[5 rows x 12 columns]

### Question 2
Filter your dataset so it contains only `TV Shows`. How many of those TV Shows were rated `TV-Y7`?

In [34]:
fil = df[df["type"] == "TV Show"]
fil.value_counts()

show_id   type     title                         director          cast                                                                                                                                                                            country                          date_added          release_year  rating  duration   listed_in                                                          description
81183491  TV Show  Jamtara - Sabka Number Ayega  Soumendra Padhi   Amit Sial, Dibyendu Bhattacharya, Aksha Pardhasany, Sparsh Shrivastava, Monika Panwar, Anshumaan Pushkar                                                                        India                            January 10, 2020    2020          TV-MA   1 Season   Crime TV Shows, International TV Shows, TV Dramas                  A group of small-town young men run a lucrative phishing operation, until a corrupt politician wants in on their scheme – and a cop wants to fight it.    1
81166978  TV Show  Bring It On, Ghost            Park Joon-hwa     Taecyeon, Kim So-hyun, Kwon Yul, Kim Sang-ho, Kang Ki-young, Lee Da-wit, Kim Min-sang, Yun Seo-hyun                                                                             South Korea                      October 30, 2019    2016          TV-14   1 Season   International TV Shows, Korean TV Shows, Romantic TV Shows         A college student with psychic abilities takes in an amnesiac ghost as his roommate – who ends up helping him hunt down spooky spirits.                   1
80028965  TV Show  La Viuda Negra                Alejandro Lozano  Ana Serradilla, Julián Román, Ramiro Meneses, Juan Pablo Gamboa, Eileen Moreno, Luis Alfredo Velasco, Margarita Reyes, Alexander Gil, Luis Roberto Guzmán, Raúl Méndez          Colombia, Mexico, United States  January 15, 2019    2016          TV-14   1 Season   Crime TV Shows, International TV Shows, Spanish-Language TV Shows  Beautiful and ruthless Griselda Blanco, known as the queen of cocaine, becomes Pablo Escobar's boss and governs a world of deceit and death.              1
80045203  TV Show  Hjørdis                       Lars Kaalund      Lise Baastrup, Martin Brygmann, Ellen Hillingsø, Nicky Andersen, Nicoline Sharma Rubow, Jasmin Bart-Williams, William Rützou, Marius Due, Robert Hansen                         Denmark                          February 15, 2019   2015          TV-14   1 Season   International TV Shows, TV Comedies, TV Dramas                     This miniseries spinoff of "Rita" follows teacher Hjørdis as she plans a school play on bullying featuring a cast of socially awkward students.           1
80048568  TV Show  London Spy                    Jakob Verbruggen  Ben Whishaw, Jim Broadbent, Edward Holcroft, Samantha Spiro, Charlotte Rampling, Lorraine Ashbourne, David Hayman, Clarke Peters, Adrian Lester, Harriet Walter                 United Kingdom                   March 31, 2017      2015          TV-MA   1 Season   British TV Shows, Crime TV Shows, International TV Shows           When his reclusive-banker lover disappears, a hard-partying young British hedonist plunges into the dangerous world of espionage to find the truth.       1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ..
80192842  TV Show  Ari Shaffir: Double Negative  Eric Abrams       Ari Shaffir                                                                                                                                                                     United States                    July 18, 2017       2017          TV-MA   1 Season   Stand-Up Comedy & Talk Shows                                       Wry yet thoughtful, comedian Ari Shaffir brings his edgy humor to two fast-paced stand-up specials about children and adulthood.                          1
80195198  TV Show  Pine Gap                      Mat King          Parker Sawyers, Jacqueline McKenzie, Steve Toussaint, Tess Haubrich, Stephen Curry, Lewis Fitz-Gerald, Mark Leonard Winter                                                      Australia                        December 7, 2018    2018          TV-MA   1 Season   International TV Shows, TV Dramas                                  At top-secret U.S.-Australian joint defense facility Pine Gap, fissures appear in the critical alliance as spies work with, and against, each other.      1
80202129  TV Show  The Five                      Mark Tonderai     Tom Cullen, O.T. Fagbenle, Lee Ingleby, Sarah Solemani, Hannah Arterton, Geraldine James, Michael Maloney, Rade Serbedzija, Jonathan Kerrigan, Don Warrington, Sophia La Porta  United Kingdom                   September 15, 2017  2016          TV-MA   1 Season   British TV Shows, Crime TV Shows, TV Dramas                        Twenty years after 5-year-old Jesse disappears near his home, his DNA turns up at the scene of a woman's murder, baffling his family and the police.      1
80203920  TV Show  Nowhere Man                   DJ Chen           Alyssa Chia, Mavis Fan, Joseph Chang, Wang Po-chieh, Jeremiah Zhang, Chou Min-fu, Greg Hsu, Kuo Tze-cheng, Shen Hai-jung, Lu Yi-long                                            Taiwan                           October 31, 2019    2019          TV-MA   1 Season   Crime TV Shows, International TV Shows, TV Action & Adventure      Two nefarious schemes taking place 10 years apart entangle a dauntless triad member, who must break out of prison to rescue a loved one.                  1
70142436  TV Show  Merlin                        James Hawes       Colin Morgan, Bradley James, Katie McGrath, Angel Coulby, Richard Wilson, Anthony Head, John Hurt, Nathaniel Parker                                                             United Kingdom                    December 15, 2016  2012          TV-PG   5 Seasons  British TV Shows, International TV Shows, TV Action & Adventure    This family-oriented retelling of the King Arthur legend finds Merlin arriving in Camelot, where he hones his magic skills with the help of his uncle.    1
Length: 96, dtype: int64

### Question 3
Further filter your dataset so it only contains TV Shows released between the years 2000 and 2009 inclusive. How many of *those* shows were rated `TV-Y7`?

In [35]:
filt = fil[fil["release_year"] > 2000]
filte = filt[filt["release_year"] < 2009]
filte.value_counts()

show_id   type     title                                             director             cast                                                                                                                                                   country         date_added          release_year  rating  duration   listed_in                                             description
70235731  TV Show  The Blue Planet: A Natural History of the Oceans  Alastair Fothergill  David Attenborough                                                                                                                                     United Kingdom  October 10, 2015    2001          TV-G    1 Season   British TV Shows, Docuseries, International TV Shows  David Attenborough narrates this definitive exploration of the marine world, from the familiar to the unknown, revealing the sea and its communities.    1
70219642  TV Show  Planet Earth: The Complete Collection             Alastair Fothergill  David Attenborough                                                                                                                                     United Kingdom  April 22, 2015      2006          TV-PG   1 Season   British TV Shows, Docuseries, International TV Shows  This landmark series transports nature lovers from the Himalayan Mountains to the depths of the ocean and everywhere in between.                         1
70205014  TV Show  Ouran High School Host Club                       Takuya Igarashi      Maaya Sakamoto, Monica Rial, Vic Mignogna, Luci Christian, Mamoru Miyano, Kenichi Suzumura, Mike McFarland, Caitlin Glass, Ayaka Saito, Daisuke Kirii  Japan           April 1, 2017       2006          TV-14   1 Season   Anime Series, Romantic TV Shows, Teen TV Shows        New student Haruhi stumbles on the Ouran High School Host Club, an all-male group that makes money by entertaining the girls of the school.              1
70205012  TV Show  Naruto                                            Hayato Date          Junko Takeuchi, Chie Nakamura, Noriaki Sugiyama, Kazuhiko Inoue, Toshihiko Seki, Hidekatsu Shibata, Masako Katsuki, Nana Mizuki                        Japan            September 1, 2019  2008          TV-PG   9 Seasons  Anime Series, International TV Shows                  Guided by the spirit demon within him, orphaned Naruto learns to harness his powers as a ninja in this anime adventure series.                           1
dtype: int64

## Problem Group 2

For the questions in this group, you'll work with the Cereal Dataset found at this url: [https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/cereal.csv](https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/cereal.csv)

### Question 4
After importing the dataset into a pandas data frame, determine the median amount of `protein` in cereal brands manufactured by Kelloggs. (`mfr` code "K")

In [47]:
url = "https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/cereal.csv"
tro = pd.read_csv(url)
tro.head(50)
pas = tro[tro["mfr"] == "K"]
pas["protein"].median()

3.0

### Question 5
In order to comply with new government regulations, all cereals must now come with a "Healthiness" rating. This rating is calculated based on this formula:

    healthiness = (protein + fiber) / sugar

Create a new `healthiness` column populated with values based on the above formula.

Then, determine the median healthiness value for only General Mills cereals (`mfr` = "G"), rounded to two decimal places.

In [55]:
sad = tro[tro["mfr"] == "G"]
sad
sad["healthiness"] = round(((sad.protein + sad.fiber) / sad.sugars), 2)
round(sad["healthiness"].median(), 2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0.47

## Problem Group 3

For the questions in this group, you'll work with the Titanic Dataset found at this url: [https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/titanic.csv](https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/titanic.csv)

### Question 6

After loading the dataset into a pandas DataFrame, create a new column called `NameGroup` that contains the first letter of the passenger's surname in lower case.

Note that in the dataset, passenger's names are provided in the `Name` column and are listed as:

    Surname, Given names

For example, if a passenger's `Name` is `Braund, Mr. Owen Harris`, the `NameGroup` column should contain the value `b`.

Then count how many passengers have a `NameGroup` value of `k`.

In [65]:
url = "https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/titanic.csv"
stat = pd.read_csv(url)
stat["NameGroup"]= stat['Name'].astype(str).str[0]
K = stat[stat["NameGroup"] == "K"]
K.value_counts()

PassengerId  Survived  Pclass  Name                          Sex   Age   SibSp  Parch  Ticket  Fare     Cabin  Embarked  NameGroup
622          Yes       1       Kimball, Mr. Edwin Nelson Jr  male  42.0  1      0      11753   52.5542  D19    S         K            1
488          No        1       Kent, Mr. Edward Austin       male  58.0  0      0      11771   29.7000  B37    C         K            1
dtype: int64